h2, p, ol, ul, li {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: Arial,Helvetica, sans-serif;
}

h1 {
    /*color:white;*/
    color:black;
}
body  {
    /*background-image: url('static/background.png');*/
    /*background-image: url('background.jpg');*/
    background-color: #cccccc;
    background-size: 100%;
    /*background-repeat: no-repeat;*/
    }
/*COLLAPSIBLE PANELS*/
#container {
    width: 300px;
    margin: auto;
    margin-top: 100px;
}
.expandable-panel {
    width:100%;
    position:relative;
    min-height:50px;
    overflow:auto;
    margin-bottom: 20px;
    border:1px solid #999;
    background-color: #ffffff;
}
.expandable-panel-heading {
    width:100%;
    cursor:pointer;
    min-height:50px;
    clear:both;
    background-color:#E5E5E5;
    position:relative;
}
.expandable-panel-heading:hover {
    color:#666;
}
.expandable-panel-heading h2 {
    padding:14px 10px 9px 15px;
    font-size:18px;
    line-height:20px;
}
.expandable-panel-content {
    padding:0 15px 0 15px;
    margin-top:-999px;
}
.expandable-panel-content p {
    padding:4px 0 6px 0;
}
.expandable-panel-content p:first-child  {
    padding-top:10px;
}
.expandable-panel-content p:last-child {
    padding-bottom:15px;
}
.icon-close-open {
    width:20px;
    height:20px;
    position:absolute;
    background-image:url(icon-close-open.png);
    right:15px;
}
.expandable-panel-content img {
    float:right;
    padding-left:12px;
}
.header-active {
    background-color:#D0D7F3;
}
