<!DOCTYPE html>
<html lang="en">
	<head>
		<h1>Database Management</h1>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script>

	$(document).ready(function(){

		function getdata(){
			$.post('/data_get/',{data:'dummypost'},function(result,status){
				// alert(result);
				jsondata=$.parseJSON(result);
				// alert(jsondata.length);
				var html = '<table style="width:100%"><tr><td>Node No.</td><td>Cluster Head No.</td><td>Node Type</td><td>Properties</td>			<td>Battery Status</td><td>Edit</td></tr>';
				for (var i=0;i<jsondata.length;i++){
					html+='<tr>';
					for (var j=1;j<6;j++){
						html+='<td>'+jsondata[i][j]+'</td>';
					}
					html+='</tr>';

				}
				html+='</table>';
    			$("#nodesdata").html(html);

			});
		}

	getdata();
	$("#data_add_form").submit(function(event) {

	/* stop form from submitting normally */
	event.preventDefault();
	/* get some values from elements on the page: */
	var $form = $( this ),
	url = $form.attr('action');
	/* Send the data using post */
	$.post( url, { nodeid: $('#nodeid').val(),
	clusterh_id: $('#clusterh_id').val(),
	nodetype: $('#nodetype').val(),
	nodeprop: $('#nodeprop').val()
	},function(result,status){
		$('#nodeid').val('');
		$('#clusterh_id').val('');
		$('#nodetype').val('');
		$('#nodeprop').val('');
		getdata();
	});
    
    });
});
	</script>
	</head>

	<body>
		<form action="/data_add/" method="post" name="data_add_form" id="data_add_form">
			Node ID: <input type="number" id="nodeid"></br>
			Cluster Head's ID: <input type="number" id="clusterh_id"></br>
			Node Type: <input type="text" id="nodetype"></br>
			Special Properties: <input type="text" id="nodeprop"></br>

			<input type="submit" value="Submit">	
		</form>
		
		</br>
		</br>

		<!-- <table style="width:100%">
			
			<tr>
				<td>Node No.</td>
				<td>Cluster Head No.</td>		
				<td>Node Type</td>
				<td>Properties</td>
				<td>Battery Status</td>
				<td>Edit</td>
			</tr>
			
		</table> -->
		<div id="nodesdata">
				
			</div>
	</body>
</html>