<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Force Cache Reload -->
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />

		<h1>Database Management</h1>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link rel="stylesheet" type="text/css" href="/static/modal.css">

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	

		<script>
		var jsondata;
		var jsondatacluster;

		function editclick(name){
			$("#modal-node-edit").show();
			$('#edit_idno').val(name);
			$('#edit_nodeid').val(jsondata[name-1][1]);
			$('#edit_dev_id').val(jsondata[name-1][2]);
			$('#edit_nodetype').val(jsondata[name-1][3]);
			$('#edit_nodeprop').val(jsondata[name-1][4]);
		}

		function editclickcluster(name){
			$('#modal-cluster-edit').show();
			$('#edit_cluster_idno').val(name);
			$('#edit_cluster_no').val(jsondatacluster[name-1][1]);
			$('#edit_clusterhead_no').val(jsondatacluster[name-1][2]);
			$('#edit_head_dev_id').val(jsondatacluster[name-1][3]);
			$('#edit_node_list').val(jsondatacluster[name-1][4]);
			$('#edit_gateway_mac').val(jsondatacluster[name-1][5]);
			$('#edit_gateway_ip').val(jsondatacluster[name-1][6]);
		}

	$(document).ready(function(){
		// $("#data_add_form").hide();
		// $("#editform").hide();
		// $("#cluster_add_form").hide();
		// $('#clustereditform').hide();

		function getnodedata(){
			$.post('/data_get/',{data:'nodesdata'},function(result,status){
				// alert(result);
				jsondata=$.parseJSON(result);
				// alert(jsondata.length);
				var html = '<table style="width:100%"><tr><td>Node No.</td><td>Device ID.</td><td>Node Type</td><td>Properties</td>			<td>Battery Status</td><td></td></tr>';
				for (var i=0;i<jsondata.length;i++){
					html+='<tr>';
					for (var j=1;j<6;j++){
						html+='<td>'+jsondata[i][j]+'</td>';
					}
					html+='<td><a href="#modal-node-edit"><button onclick="editclick('+jsondata[i][0]+');">Edit</button></a></td></tr>';

				}
				html+='</table>';
    			$("#nodesdata").html(html);
    			panelinit();
    			resetpanels();

			});
		}

		function getclusterdata(){
			$.post('/data_get/',{data:'clustersdata'},function(result,status){
				// alert(result);
				jsondatacluster=$.parseJSON(result);
				// alert(jsondata.length);
				var html = '<table style="width:100%"><tr><td>Cluster No.</td><td>Cluster Head No.</td><td>ClusterHead Device ID</td><td>List of Nodes</td><td>Gateway MAC</td><td>Gateway IP</td><td>Code Details Slot 1</td><td>Code Details Slot 2</td><td>Code Details Slot 3</td><td></td></tr>';
				for (var i=0;i<jsondatacluster.length;i++){
					html+='<tr>';
					for (var j=1;j<10;j++){
						html+='<td>'+jsondatacluster[i][j]+'</td>';
					}
					html+='<td><a href="#modal-cluster-edit"><button onclick="editclickcluster('+jsondatacluster[i][0]+');">Edit</button></a></td></tr>';

				}
				html+='</table>';
    			$("#clustersdata").html(html);
    			panelinit();
    			resetpanels();

			});
		}

	getnodedata();
	getclusterdata();

	$("#data_add_form").submit(function(event) {

	/* stop form from submitting normally */
	event.preventDefault();
	/* get some values from elements on the page: */
	var $form = $( this ),
	url = $form.attr('action');
	/* Send the data using post */
	$.post( url, { data:'nodeadd',
	nodeid: $('#nodeid').val(),
	dev_id: $('#dev_id').val(),
	nodetype: $('#nodetype').val(),
	nodeprop: $('#nodeprop').val()
	},function(result,status){
		$('#nodeid').val('');
		$('#dev_id').val('');
		$('#nodetype').val('');
		$('#nodeprop').val('');
		getnodedata();
		location.href = '#';

	});
    
    });

    $("#data_edit_form").submit(function(event) {

	/* stop form from submitting normally */
	event.preventDefault();
	/* get some values from elements on the page: */
	var $form = $( this ),
	url = $form.attr('action');
	/* Send the data using post */
	$.post( url, { 
	data:'nodeedit',
	idno:  $('#edit_idno').val(),
	nodeid: $('#edit_nodeid').val(),
	dev_id: $('#edit_dev_id').val(),
	nodetype: $('#edit_nodetype').val(),
	nodeprop: $('#edit_nodeprop').val()
	},function(result,status){
		$('#edit_nodeid').val('');
		$('#edit_dev_id').val('');
		$('#edit_nodetype').val('');
		$('#edit_nodeprop').val('');
		$('#editform').hide();
		getnodedata();
		location.href = '#';
	});
    
    });


    $("#cluster_add_form").submit(function(event) {

	/* stop form from submitting normally */
	event.preventDefault();
	/* get some values from elements on the page: */
	var $form = $( this ),
	url = $form.attr('action');
	/* Send the data using post */
	$.post( url, { 
	data:'clusteradd',
	clusterno:  $('#cluster_no').val(),
	clusterhead_no: $('#clusterhead_no').val(),
	head_dev_id: $('#head_dev_id').val(),
	node_list: $('#node_list').val(),
	gateway_mac: $('#gateway_mac').val(),
	gateway_ip: $('#gateway_ip').val()
	},function(result,status){
	$('#cluster_no').val('');
	$('#clusterhead_no').val('');
	$('#head_dev_id').val('');
	$('#node_list').val('');
	$('#gateway_mac').val('');
	$('#gateway_ip').val('');
	location.href = '#';
	getclusterdata();
	});
    
    });
    $("#cluster_edit_form").submit(function(event) {

	/* stop form from submitting normally */
	event.preventDefault();
	/* get some values from elements on the page: */
	var $form = $( this ),
	url = $form.attr('action');
	/* Send the data using post */
	$.post( url, { 
	data:'clusteredit',
	idno:  $('#edit_cluster_idno').val(),
	clusterno:  $('#edit_cluster_no').val(),
	clusterhead_no: $('#edit_clusterhead_no').val(),
	head_dev_id: $('#edit_head_dev_id').val(),
	node_list: $('#edit_node_list').val(),
	gateway_mac: $('#edit_gateway_mac').val(),
	gateway_ip: $('#edit_gateway_ip').val()
	},function(result,status){
	$('#edit_cluster_idno').val('');
	$('#edit_cluster_no').val('');
	$('#edit_clusterhead_no').val('');
	$('#edit_head_dev_id').val('');
	$('#edit_node_list').val('');
	$('#edit_gateway_mac').val('');
	$('#edit_gateway_ip').val('');
	$('#cluster_edit_form').hide();
	getclusterdata();
	location.href = '#';
	});
    
    });

    /*-------------------- EXPANDABLE PANELS ----------------------*/
        var panelspeed = 300; //panel animate speed in milliseconds
        var totalpanels = 2; //total number of collapsible panels
        var defaultopenpanel = 0; //leave 0 for no panel open
        var accordian = false; //set panels to behave like an accordian, with one panel only ever open at once      
 
        var panelheight = new Array();
        var currentpanel = defaultopenpanel;
        var iconheight = parseInt($('.icon-close-open').css('height'));
        var highlightopen = true;
 
        //Initialise collapsible panels
        function panelinit() {
                for (var i=1; i<=totalpanels; i++) {
                    panelheight[i] = parseInt($('#cp-'+i).find('.expandable-panel-content').css('height'));
                    $('#cp-'+i).find('.expandable-panel-content').css('margin-top', -panelheight[i]);
                    if (defaultopenpanel == i) {
                        $('#cp-'+i).find('.icon-close-open').css('background-position', '0px -'+iconheight+'px');
                        $('#cp-'+i).find('.expandable-panel-content').css('margin-top', 0);
                    }
                }
        }
 
        $('.expandable-panel-heading').click(function() {
            var obj = $(this).next();
            var objid = parseInt($(this).parent().attr('ID').substr(3,2));
            currentpanel = objid;
            if (accordian == true) {
                resetpanels();
            }
 
            if (parseInt(obj.css('margin-top')) <= (panelheight[objid]*-1)) {
                obj.clearQueue();
                obj.stop();
                obj.prev().find('.icon-close-open').css('background-position', '0px -'+iconheight+'px');
                obj.animate({'margin-top':0}, panelspeed);
                if (highlightopen == true) {
                    $('#cp-'+currentpanel + ' .expandable-panel-heading').addClass('header-active');
                }
            } else {
                obj.clearQueue();
                obj.stop();
                obj.prev().find('.icon-close-open').css('background-position', '0px 0px');
                obj.animate({'margin-top':(panelheight[objid]*-1)}, panelspeed);
                if (highlightopen == true) {
                    $('#cp-'+currentpanel + ' .expandable-panel-heading').removeClass('header-active');
                }
            }
        });
 
        function resetpanels() {
            for (var i=1; i<=totalpanels; i++) {
                if (currentpanel != i) {
                    $('#cp-'+i).find('.icon-close-open').css('background-position', '0px 0px');
                    $('#cp-'+i).find('.expandable-panel-content').animate({'margin-top':-panelheight[i]}, panelspeed);
                    if (highlightopen == true) {
                        $('#cp-'+i + ' .expandable-panel-heading').removeClass('header-active');
                    }
                }
            }
        }
        
       //Uncomment these lines if the expandable panels are not a fixed width and need to resize
        $( window ).resize(function() {
          panelinit();
        });
 
        $(window).load(function() {
            panelinit();
        }); //END LOAD
    });
	</script>
	</head>

	<body>
	<div class="container">

		<!-- Modal Forms -->

		<!-- Node Data Add Form -->
		<section class="modal--show" id="modal-node-add" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

	    	<div class="modal-inner">
		        <h2><header id="modal-label"><!-- Header -->Add Node Data</header></h2>

	        <div class="modal-content"><!-- The modals content -->
				<form action="/data_add/" method="post" name="data_add_form" id="data_add_form">
					NODES FORM</br>
					Node ID: <input type="number" id="nodeid"></br>
					Device ID: <input type="text" id="dev_id">
					Node Type: <input type="text" id="nodetype">
					Special Properties: <input type="text" id="nodeprop">

					<a href="#"><input type="submit" value="Submit" class="formButton"></a><a href="#" class="formButton" title="Close">Close</a>	
				</form>
			</div>
			</br>
       	<!-- Footer -->
        <!-- <footer><center><a href="#" class="formButton" title="Close">Close</a></center></footer>-->
    	</div>
    	<!-- Close Button -->
    	<a href="#" class="modal-close" title="Close this modal" data-close="Close"
        data-dismiss="modal">?</a>
		</section>

		<!-- Cluster Data Add Form -->
		<section class="modal--show" id="modal-cluster-add" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

	    	<div class="modal-inner">
		        <h2><header id="modal-label"><!-- Header -->Add Cluster Data</header></h2>

	        <div class="modal-content"><!-- The modals content -->
				<form action="/data_add/" method="post" name="cluster_add_form" id="cluster_add_form">
					CLUSTER FORM</br>
					Cluster No: <input type="number" id="cluster_no">
					Cluster Head No: <input type="number" id="clusterhead_no"></br>
					Cluster Head Device ID: <input type="text" id="head_dev_id">
					List of Nodes: <input type="text" id="node_list">
					Gateway MAC: <input type="text" id="gateway_mac">
					Gateway IP: <input type="text" id="gateway_ip">
					<a href="#"><input type="submit" value="Submit" class="formButton"></a><a href="#" class="formButton" title="Close">Close</a>	
				</form>
			</div>
			</br>
       	<!-- Footer -->
        <!-- <footer><center><a href="#" class="formButton" title="Close">Close</a></center></footer>-->
    	</div>
    	<!-- Close Button -->
    	<a href="#" class="modal-close" title="Close this modal" data-close="Close"
        data-dismiss="modal">?</a>

		</section>

		<!-- Node Data Edit Form -->

	  	<section class="modal--show" id="modal-node-edit" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

	    <div class="modal-inner">
	        <h2><header id="modal-label"><!-- Header --> Edit Cluster Details</header></h2>

	        <div class="modal-content"><!-- The modals content -->
	        	
	        	<div id="editform" name="editform">
				
					<form action="/data_edit/" method="post" name="data_edit_form" id="data_edit_form">
						Row ID:<input type="number" id="edit_idno" disabled>
						Node ID: <input type="number" id="edit_nodeid"></br>
						Device ID: <input type="text" id="edit_dev_id">
						Node Type: <input type="text" id="edit_nodetype">
						Special Properties: <input type="text" id="edit_nodeprop">

					<a href="#"><input type="submit" value="Submit" class="formButton"></a><a href="#" class="formButton" title="Close">Close</a>	
					</form>
				</div>
			</br>
	        </div>
	    	</br>
	    	<!-- Footer -->
	        <!-- <footer><center><a href="#" class="formButton" title="Close">Close</a></center></footer>-->
	    </div>

	    <a href="#" class="modal-close" title="Close this modal" data-close="Close"
	        data-dismiss="modal">?</a>
		</section>


	  	<section class="modal--show" id="modal-cluster-edit" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

	    <div class="modal-inner">
	        <h2><header id="modal-label"><!-- Header --> Edit Testbed Details</header></h2>

	        <div class="modal-content"><!-- The modals content -->
	        	<div id="clustereditform" name="clustereditform">
					<form action="/data_edit/" method="post" name="cluster_edit_form" id="cluster_edit_form">
						Row ID:<input type="number" id="edit_cluster_idno" disabled>
						Cluster No: <input type="number" id="edit_cluster_no">
						Cluster Head No: <input type="number" id="edit_clusterhead_no"></br>
						Cluster Head Device ID: <input type="text" id="edit_head_dev_id">
						List of Nodes: <input type="text" id="edit_node_list">
						Gateway MAC: <input type="text" id="edit_gateway_mac">
						Gateway IP: <input type="text" id="edit_gateway_ip">
						<a href="#"><input type="submit" value="Submit" class="formButton"></a><a href="#" class="formButton" title="Close">Close</a>	
					</form>
				</div>
			</br>
	        </div>
	    	</br>
	    	<!-- Footer -->
	        <!-- <footer><center><a href="#" class="formButton" title="Close">Close</a></center></footer>-->
	    </div>

	    <a href="#" class="modal-close" title="Close this modal" data-close="Close"
	        data-dismiss="modal">?</a>
		</section>

		<!-- Visible Node Data Table -->

		<div class="expandable-panel" id="cp-1">

        	<div class="expandable-panel-heading">
        	  <h2>Cluster Description<a href="#modal-node-add" class="panelButton" title="Add Node Data" >Add Node Data</a><span class="icon-close-open"></span></h2>
        	</div>

	        <div class="expandable-panel-content">
	        </br>
	        	<div id="nodesdata"></div>
	        </br>
	    	</div>
	    </div>

	    <!-- Visible Cluster Data Table -->

	    <div class="expandable-panel" id="cp-2">

        	<div class="expandable-panel-heading">
        	  <h2>Testbed Description<a href="#modal-cluster-add" class="panelButton" title="Add Cluster Details" >Add Cluster Data<span class="icon-close-open"></a></span></h2>
        	</div>		
        	<div class="expandable-panel-content">
        		<div id="clustersdata"></div>
        	</div>
        </div>

	<hr>
	<!-- Container Div ends -->
  	</div> 
  	<!-- Body Ends -->
  	</body>
</html>
