<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- Local stylesheet -->
    <link rel="stylesheet" type="text/css" href="static/style.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </script>
    <script type="text/javascript" src="static/socket.io.js"></script>

    <script>
    $(document).ready(function(){

    // $.post("/cluster_status/",{data:'1'},function(result,status){
    //     alert(result);
    // });


      var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
      //var socket = io.connect('http://192.168.137.102:5000/test');
      $("#stoplisten").hide();
      socket.on('my response', function(msg) {
      $('#consolebox').append('<p>Received: ' + msg.data + '</p>');
      $('#consolebox').scrollTop($('#consolebox')[0].scrollHeight);
      });

      $("#switch").click(function(){
      var imagenum=$("#imagenumber").val();
      
      $.post("/switch/",{imagenum:imagenum},function(result,status){
        alert(result);
        });
      });

      $("#ping").click(function(){
      var nodenum=$("#quantity").val();
      $.post("/ping/",{nodenum:nodenum},function(result,status){
        alert(result);
        });
      });

      $("#listen").click(function(){
        socket.emit('listen');
        $("#stoplisten").show();
        $("#listen").hide();
      });

      $("#stoplisten").click(function(){
        $.post("/stop/");
        $("#listen").show();
        $("#stoplisten").hide();
      });

    });

    </script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1 class="text-muted">Edge Router Control Panel</h1>
      </div>
      <hr/>
      
      <!-- Upload and flash code -->
      <div class="expandable-panel" id="cp-1">
        <div class="expandable-panel-heading">
          <h2>Upload<span class="icon-close-open"></span></h2>
        </div>

        <div class="expandable-panel-content">
          Upload relevant tos_image.xml file 
          <br/>
          <br/>
          <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file"><br/>
            Choose slot number:
            <input type="number" name="imagenumber" min="1" max="3" value="1">
            <input type="submit" value="Flash">
          </form>
        </div>
      </div>
      <hr/>

      <!-- Ping remote nodes -->
      <div class="expandable-panel" id="cp-2">
        <div class="expandable-panel-heading">
          <h2>Cluster Details<span class="icon-close-open"></span></h2>
        </div>

        <div class="expandable-panel-content">
        Ping Node number:
        <input type="number" id="quantity" name="quantity" min="2" max="10" value="2">
        <button name="ping" id="ping" >Ping</button>
        </div>
      </div>
      <hr/>

      <!-- Switch images on all remote nodes -->
      <div class="expandable-panel" id="cp-3">
        <div class="expandable-panel-heading">
          <h2>Code Details<span class="icon-close-open"></span></h2>
        </div>

        <div class="expandable-panel-content">        
        Please select image number to switch to:
        <input type="number" id="imagenumber" name="imagenumber" min="1" max="3" value="1">
        <button name="switch" id="switch" >Switch</button>
        </div>
      </div>      
      <hr/>

      <!-- Run Packet Sniffer on Basestation  -->
      <div class="expandable-panel" id="cp-4">
        <div class="expandable-panel-heading">
          <h2>Packet Sniffer<span class="icon-close-open"></span></h2>
        </div>

        <div class="expandable-panel-content">
          <button name="listen" id="listen" >Listen</button>
          <button name="stoplisten" id="stoplisten" >Stop Listen</button>
        </div>
      </div>
      </br>
      </br>
      <div class="console" id="consolebox" style="overflow:scroll; height:200px;">
        {{data}}
      </div>
      </br>
      </br>
    </div>
  </body>
</html>