<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- Local stylesheet -->
    
    <link rel="stylesheet" type="text/css" href="static/style.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    

    <script>
    $(document).ready(function(){


      var titledata = [['NodeNum', 'Status',]];

      var html = '<table><tbody>';
      for (var i = 0, rowNum = 9; i < rowNum; ++i) {
        html += '<tr>';
        for (var j = 0, colNum = 2; j < colNum; ++j ) {
          if (i==0) {
            html += '<td>' + titledata[i][j] + '</td>';
          }

          else if(j==0){
            html+= '<td>'+ i + '</td>';
          }
          else if (j==1){
            html += '<td id="status'+i+'">Checking....</td>';
          }
          // else if(j==2){
          //   html += '<td><button name="ping" id="ping" >Ping</button></td>';
          // }

          else{
            html += '<td>dummy data</td>';
          };
          
        }
        html += "</tr>";
        }
      html += '</tbody></table>';

      $(html).appendTo('#table1');


      if ($("#consolebox").text().match("Flash Initiated")) {
        $("#noTrespassingAnimationG").show();

        // setTimeout(function(){
        //   $.post("/ackreceived/",{data:'1'},function(result,status){
        //   alert(result);
        //  });
        // }, 90000);
      $.post("/flashnode/",function(result, status){
        $("#consolebox").append(result.replace(/\n/g, "<br/>"));
        $.post("/ackreceived/",{data:'1'},function(result,status){
          alert(result);
         });
      });
      }
      else{
        $("#noTrespassingOuterBarG").hide();
      };

      $("#ping").prop("disabled",true);
      function isclusteralive (argument) {
        var count=1;
        var intervalcluster=setInterval(function(){
          if(count==8){
            clearInterval(intervalcluster);
            $("#ping").prop("disabled",false);
          }
          $.post("/cluster_status/",{data:count},function(result,status){
            data1=$.parseJSON(result);
              $('#status'+data1['1']).html(data1['0']);
        });
          count++;
        }
        ,5000);
      }

      // isclusteralive();
      /*-------------------- EXPANDABLE PANELS ----------------------*/
        var panelspeed = 300; //panel animate speed in milliseconds
        var totalpanels = 3; //total number of collapsible panels
        var defaultopenpanel = 0; //leave 0 for no panel open
        var accordian = false; //set panels to behave like an accordian, with one panel only ever open at once      
 
        var panelheight = new Array();
        var currentpanel = defaultopenpanel;
        var iconheight = parseInt($('.icon-close-open').css('height'));
        var highlightopen = true;
 
        //Initialise collapsible panels
        function panelinit() {
                for (var i=1; i<=totalpanels; i++) {
                    panelheight[i] = parseInt($('#cp-'+i).find('.expandable-panel-content').css('height'));
                    $('#cp-'+i).find('.expandable-panel-content').css('margin-top', -panelheight[i]);
                    if (defaultopenpanel == i) {
                        $('#cp-'+i).find('.icon-close-open').css('background-position', '0px -'+iconheight+'px');
                        $('#cp-'+i).find('.expandable-panel-content').css('margin-top', 0);
                    }
                }
        }
 
        $('.expandable-panel-heading').click(function() {
            var obj = $(this).next();
            var objid = parseInt($(this).parent().attr('ID').substr(3,2));
            currentpanel = objid;
            if (accordian == true) {
                resetpanels();
            }
 
            if (parseInt(obj.css('margin-top')) <= (panelheight[objid]*-1)) {
                obj.clearQueue();
                obj.stop();
                obj.prev().find('.icon-close-open').css('background-position', '0px -'+iconheight+'px');
                obj.animate({'margin-top':0}, panelspeed);
                if (highlightopen == true) {
                    $('#cp-'+currentpanel + ' .expandable-panel-heading').addClass('header-active');
                }
            } else {
                obj.clearQueue();
                obj.stop();
                obj.prev().find('.icon-close-open').css('background-position', '0px 0px');
                obj.animate({'margin-top':(panelheight[objid]*-1)}, panelspeed);
                if (highlightopen == true) {
                    $('#cp-'+currentpanel + ' .expandable-panel-heading').removeClass('header-active');
                }
            }
        });
 
        function resetpanels() {
            for (var i=1; i<=totalpanels; i++) {
                if (currentpanel != i) {
                    $('#cp-'+i).find('.icon-close-open').css('background-position', '0px 0px');
                    $('#cp-'+i).find('.expandable-panel-content').animate({'margin-top':-panelheight[i]}, panelspeed);
                    if (highlightopen == true) {
                        $('#cp-'+i + ' .expandable-panel-heading').removeClass('header-active');
                    }
                }
            }
        }
        
       //Uncomment these lines if the expandable panels are not a fixed width and need to resize
        $( window ).resize(function() {
          panelinit();
        });
 
        $(window).load(function() {
            panelinit();
        }); //END LOAD

      var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
      //var socket = io.connect('http://192.168.137.102:5000/test');
      $("#stoplisten").hide();
      socket.on('my response', function(msg) {
      $('#consolebox').append('<p>Received: ' + msg.data + '</p>');
      $('#consolebox').scrollTop($('#consolebox')[0].scrollHeight);
      });

      $("#switch").click(function(){
      var imagenum=$("#imagenumber").val();
      
      $.post("/switch/",{imagenum:imagenum},function(result,status){
        alert(result);
        });
      });

      $("#ping").click(function(){
        for (var i = 1; i < 9; i++) {
         $('#status'+i).html('Checking...');
        };
        $('#ping').prop("disabled",true);
        isclusteralive();
      });

      $("#listen").click(function(){
        socket.emit('listen');
        $("#stoplisten").show();
        $("#listen").hide();
      });

      $("#stoplisten").click(function(){
        $.post("/stop/");
        $("#listen").show();
        $("#stoplisten").hide();
      });
    
     $("#formswitch").submit(function(event) {
      $('#baseimage').html('<p>Switching to image number: ' + $('input[name=imagenumberswitch]:checked', '#formswitch').val() + '</p>......');
      /* stop form from submitting normally */
      event.preventDefault();

      /* get some values from elements on the page: */
      var $form = $( this ),
          url = $form.attr('action');
      /* Send the data using post */
      var posting = $.post( url, { imagenumberswitch: $('input[name=imagenumberswitch]:checked', '#formswitch').val()} );
      
      
      var interval=setInterval(function(){
      {
               
      $('#baseimage').append('.');
      }
      },500
     );

        
      
      /* Alerts the results */
      posting.done(function( data ) {
        
        clearInterval(interval);
        data1=$.parseJSON(data);
        $('#baseimage').html("</br>"+data1['baseimagedata'].replace(/\n/g, "<br/>"));
        $('#consolebox').html(data1['consoledata'].replace(/\n/g, "<br/>"));
      
      });
    });

    $("#logfile").click(function(){
      $.post("/savelog/",{filedata:$("#consolebox").html()},function (result,status) {
        //alert(result);
      });
    });
});
    </script>
  </head>

  <body>
   <div class="container">
      <div class="header">
        <h1 class="text-muted">Edge Router Control Panel</h1>
      </div>
      <hr/>
      
      <!-- Upload and flash code -->
      <div class="expandable-panel" id="cp-1">
        <div class="expandable-panel-heading">
          <h2>Upload<span class="icon-close-open"></span></h2>
        </div>

        <div class="expandable-panel-content">
        </br>
          Upload relevant tos_image.xml file 
          <br/>
          <br/>
          <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file"><br/>
            Choose slot number:
            <input type="number" name="imagenumber" min="1" max="3" value="1">
            <input type="submit" value="Flash">
          </form>
          </br>
          <div id="noTrespassingOuterBarG">
            <div id="noTrespassingFrontBarG" class="noTrespassingAnimationG">
              <div class="noTrespassingBarLineG">
            </div>
            <div class="noTrespassingBarLineG">
            </div>
            <div class="noTrespassingBarLineG">
            </div>
            <div class="noTrespassingBarLineG">
            </div>
            <div class="noTrespassingBarLineG">
            </div>
            <div class="noTrespassingBarLineG">
            </div>
            </div>

            </div>
        </div>
      </div>

      <hr/>

      <!-- Ping remote nodes -->
      <div class="expandable-panel" id="cp-2">
        <div class="expandable-panel-heading">
          <h2>Cluster Info<span class="icon-close-open"></span></h2>
        </div>

        <div class="expandable-panel-content">
          <h4>Cluster Details:</h4>
          <center>
            
          </br>
          </br>
          <div id="table1" class="CSSTableGenerator"></div>
          </br>
          </br>
        <!-- <input type="number" id="quantity" name="quantity" min="2" max="10" value="2"> -->
        <button name="ping" id="ping">Ping All Nodes</button>
        </center>
        </br>
        </br>
        <h4>Basestation Details:</h4>
        <p>
          <!-- Status: -->
          <center>
          <div class="baseimagebox" id="baseimage">
          </br>
            {{baseimagedata}}
          </div>
          <!-- Data coming from tos-deluge -p of basestation -->

        <!-- Switch images on all remote nodes -->
        </br>
        Please select image number to switch to:
        <!-- <input type="number" id="imagenumber" name="imagenumber" min="1" max="3" value="1"> 
        <button name="switch" id="switch" >Switch</button>-->

       <form action="switch/" id="formswitch" name="formswitch">
       </br>
          <input type="radio" name="imagenumberswitch" value="1" checked>Slot 1<br>
          <input type="radio" name="imagenumberswitch" value="2">Slot 2<br>
          <input type="radio" name="imagenumberswitch" value="3">Slot 3<br>
        </br>
          <input type="submit" value="Switch">
        </form>
        </center>
      </br>
        <!-- <button name="switch" id="switch" >Switch</button> -->
        </br>
        </div>
      </div>
      <hr/>

      
      <!-- Run Packet Sniffer on Basestation  -->
      <div class="expandable-panel" id="cp-3">
        <div class="expandable-panel-heading">
          <h2>Packet Sniffer<span class="icon-close-open"></span></h2>
        </div>

        <div class="expandable-panel-content">
        </br>
          Start the sniffer:
          <button name="listen" id="listen" >Listen</button>
          <button name="stoplisten" id="stoplisten" >Stop Listen</button>
          </br>
          </br>
          <button id="logfile"> Download data to file</button>
          </br>
        </div>
      </div>
      
      </br>
      </br>

      <div class="console" id="consolebox" style="overflow:scroll; height:350px;">
        {{consoledata}}
      </div>
      </br>
      </br>
    </div>
  </body>
</html>